<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css rel=stylesheet>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap.min.css
          rel=stylesheet>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap.min.js></script>
    <script language="JavaScript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</head>

<body>
<center>
    <h1>Персонал склада</h1>
    <header>
        <center>
            <span><a href="{% url 'index' %}">Главная</a></span>
            <span><a href="{% url 'show_all_products' %}">Все товары</a></span>
            <span><a href="{% url 'show_purchased' %}">Приобретенный товар</a></span>
            <span><a href="{% url 'show_manufacturer' %}">Производители</a></span>
        </center>
    </header>
    <br>

    <table cellspacing=0 class="table table-bordered table-hover table-striped" id=example width="900px">
    <thead>
    <tr>
        <th>Номер сотрудника</th>
        <th>ФИО сотрудника</th>
    </tr>
    </thead>
    <tbody>
    {% for item in all %}
    <tr>
        <td>{{ item.id }}</td>
        <td class="one">{{ item.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</center>
<style>

    .one{
        background-color: #eef5ff;
    }
    span {
        margin: 0 10px 0 10px;
    }

    td,tr {

        border: 1px solid grey;

    }
</style>
</body>
</html>